@model IEnumerable<MediaMeetV2.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.assocProfile.introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.assocProfile.introduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateJoined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
