@model List<MediaMeetV2.Models.UserViewModel>
@{
    ViewBag.Title = "ViewUserList";
}

<h2>All Users</h2>
<table class="table">
    <tr>
        <td>
            <b>Username</b>
        </td>
        <td>
            <b>Real Name</b>
        </td>
        <td>
            <b>Location</b>
        </td>
        <td>
            <b>Details</b>
        </td>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city), @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.ActionLink("View User Info", "ViewUser", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
</table>
